.App {

  min-height: 100vh;

background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

background: rgb(13,5,152);
background: linear-gradient(8deg, rgba(13,5,152,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 100%);
}



.search-form {

  min-height: 10vh;

  display: flex;

  justify-content: center;

  align-items: center;

}



.search-bar {

  width: 50%;

  border: none;

  padding: 10px;

}



.search-button {

  background: black;

  border: none;

  padding: 10px 20px;

  color: white;

}



.recipes {

  display: flex;
/*  flex-direction: column;*/
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;


}
